/* h1{
    color:darkorchid;
}
body{
    background-color:rgb(250, 247, 247);
}
/* button{
    
    background-color:rgb(255, 148, 211);
} */
/* .heading{
    color:azure
}
p{
    text-align: center;
} */ 
#q{font-weight: 189;}
#w{font-weight: 456;}
#e{font-weight: bold;}
#r{font-weight: bolder;}
#t{font-weight: normal;}